<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @album.person %>
</p>

<p>
  <strong>Keyword1:</strong>
  <%= @album.keyword1 %>
</p>

<p>
  <strong>Keyword2:</strong>
  <%= @album.keyword2 %>
</p>

<p>
  <strong>Keyword3:</strong>
  <%= @album.keyword3 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<%= link_to 'Back', albums_path %>
